*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
   
}

body{
    background-color: black;
    
}





.header{
    width: 100%;
    height: 68px;
    background-color: #552665;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tittle{
    color: #fff;
    font-size: 20px;
}

.menu{
    background-image: url(./images/menu.svg);
}

section{
    height: calc(100vh - 68px);
    background-color: #121212;
}

.bonfire{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85%;
    justify-content: center;
    
}

.bonfiretxt{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.btnagregar{
    
    position: fixed;
    left: 80%;
    
}
#btnagregar{
    background-color: transparent;
    border: none;
}

#btnagregar:hover{
    cursor: pointer;
}

.agregarcontainer{
    display: none;
    
    align-items: center;
    height: 85%;
    justify-content: center;
}

.containertarea{
    width: 253px;
    height: 483px;
}

.agregartarea{
    display: flex;
    width: 308px;
    height: 546px;
    background-color: #333232;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

.tittletarea{
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    
}

.tarea-name{
    margin-bottom: 15px;
}

.p-tareamenu{
    color: #ABA5A5;
    font-size: 12px;
}

.input{
    font-size: 20px;
    border-radius: 8px;
    border: none;
    height: 41px;
    width: 100%;
    padding-left: 6px;
    margin-top: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input:hover{
    outline: 2px solid purple;
}

.input:focus-visible{
   border: none;
   border-style: none;
   box-shadow: none;
   outline: 2px solid purple;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.descripcion{
    height: 91px;
    width: 100%;
    resize: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    
}

.descripcion:hover{
    outline: 2px solid purple;
}

.descripcion:focus-visible{
    border: none;
    border-style: none;
    box-shadow: none;
    border: 2px solid purple;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }



 .select{
    font-size: 20px;
    border-radius: 8px;
    border: none;
    height: 41px;
    width: 100%;
    padding-left: 6px;
    margin-top: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .select:hover{
    outline: 2px solid purple;
 }

 .select:focus-visible{
    border: none;
    border-style: none;
    box-shadow: none;
    outline: 2px solid purple;
 
 }

 .prioridad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 }

 .colores{
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin-top: 10px;
 }

 .color{
    width:36px;
    height: 36px;
    border-radius: 8px;
    transition: all 0.1s ;
 }

 .color:hover{
    cursor: pointer;
    translate: 0px -3px;
 }

 .color:active{
    transform:scale(0.8);
 }

 .purpura{
    background-color: #854BB3;
 }
 .verde{
    background-color: #7CBE0F;
 }
 .amarillo{
    background-color: #FFB72D;
 }
 .rojo{
    background-color: #C83232;
 }


 .botones{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
 }
 .btn{
    width: 82px;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ;
    
 }

 .btn:hover{
    transform:scale(1.04);
 }

 .btn:active{
    transform:scale(0.8);
 }

 .cancelar{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
 }

 .btn:hover{
    cursor: pointer;
 }

 .hidden{
    display: none;
 }

 .active{
    display: flex;
 }
 
#checkbox{
    appearance: none;
    
    width:36px;
    height: 36px;
    border-radius: 8px;
    transition: all 0.1s ;
 }

 #checkbox:hover{
    transform: scale(1.1);
    cursor: pointer;
 }

 #checkbox:active{
    transform: scale(0.9);
 }

 #checkbox:checked{
    transform: scale(1.2);
    border: 2px solid #fff;
 }


 .tareas{
    
    width: 100%;
    height: 85%;
    background-color: #121212;
    flex-direction: column;
    display: none;
    
    align-items: center;
    
    
 }


 .tareaspendientes{
    display: flex;
    height: 108px;
    width: 80%;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 1%;
    
 }

 .colortarea{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 108px;
    
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
 }

 .data{
    width: 80%;
 }

 .botonestarea{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
 }

 .borrada{
    border: none;
    margin-left: 10px;
    transition: all 0.1s;
 }

 

 .borrada:hover{
   cursor: pointer;
   transform: scale(1.1);
 }

 .borrada:active{
   transform: scale(0.9);
 }

 #nombretarea{
   padding: 5px;
 }

 #descripciontarea{
   padding: 5px;
 }

 .top{
   /*top:557px;*/
   position: fixed;
    left: 80%;
 }
 